.back-btn-wrapper {
  width: 56px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-btn {
  font-family: inherit;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 8px;
  margin-left: 12px;
  margin-top: 8px;
  background-color: transparent;
}

.prev {
  position: absolute;
  top: 88px;
  left: 12px;
}

@media (max-width: 767px) {
  .back-btn-wrapper {
    width: 56px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back-btn {
    font-family: inherit;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 8px;
    margin-left: 12px;
    margin-top: 8px;
    background-color: transparent;
  }

  .prev {
  position: absolute;
  top: 20px;
  left: 20px;
}
}
