.signup-container {
  background-image: url('../../assets/roomies_tipos.jpg');
  background-size: cover;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-signup {
  border-radius: 20px;
  width: 390px;
  height: 600px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-title {
  text-align: left;
  font-size: 1.4rem;
  font-weight: bold;
}

.wrapper-signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-signup {
  background-color: var(--white-color);
}

.button-create {
  width: 346px;
  height: 42px;
}

@media (max-width: 767px) {
  .body {
    display: flex;
    flex-direction: column;
  }

  .container-signup {
    opacity: 1;
  }

  .header {
    width: 180px;
    position: fixed;
    top: 180px;
    left: 50%;
    transform: translate(-50%);
  }
}
