.header {
  width: 100%;
  height: 88px;
  background-color: var(--primary-color);
}

img {
  width: 256px;
  position: absolute;
  top: 12px;
  left: 12px;
}

@media (max-width: 767px) {
  body {
    width: 390px;
    height: 844px;
    background-color: var(--primary-color);
    overflow-x: hidden;
  }

  .header {
    background-color: var(--primary-color);
  }

  .logo img {
    width: 360px;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

