.wide-screen-nav {
  width: 448px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 88px;
  right: 0;
}

ul {
  width: 95%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  font-weight: 700;
}

a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: var(--primary-color)
}

.active {
  color: var(--primary-color);
}

@media (max-width: 767px) {
  .mobile-nav {
    width: 100%;
    height: 80px;
    background-color: var(--light-gray-color);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    width: 95%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}
