.addExpense-wrapper {
    width: 360px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 178px;
}


.expense-title {
    display: flex;
    width: 70%;
}

.price-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 74%;
}