/* .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.addTask-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.8rem;
}

input, textarea {
  border: none;
  background-color: var(--light-gray-color);
  padding: 12px;
  border-radius: 12px;
}

