.primary-btn {
  height: 45px;
  width: 326px;
  left: 10px;
  top: 10px;
  border-radius: 3px;
  background-color: var(--secondary-color);
  border: none;
  color: var(--white-color);
  font-size: 1.3rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
